
body, html {
	height: 100%;
	margin: 0 auto;
	font-family: Arial;

}


/*========body style pg1=============*/
#page1-body {
	margin: 0 auto;
	font-family: Arial;
	background-image: url("../css/public/wed2.jpg");
	background-size: contain;
    background-position: center center;
	background-clip: content-box;
	background-repeat: no repeat;
	background-size: cover;
}

/*==========ul in nav style============*/
.ul-nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding-top: 12px;
	overflow: hidden;
    font-size: 1.4em;
    background-color: #333;
    height: 40px;
    color: white;
}

/*==========nav style============================*/
.main-nav {
	border: 2px #bbc;
	border-radius:4px;
}

@media only screen and (max-width: 600px) {
    .ul-nav {
        font-size: 1.0em;
        padding: 0;
    }

    li {
    padding-top: 10px;
	}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a:hover {
  color: blue;
}

.li-gallery {
        padding-left: 100px;
        cursor: pointer;
    }

.push {
	margin-left: auto;
	padding-right: 50px;
}
/*==========end nav style============================*/



/*=======page1 div==================*/
.page-land {
	display: block;
	width: auto;
	height: 40px;
	font-family: 'Snowburst One', cursive;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	border: none;
	margin: 40px auto 0 auto;
	color: blue;
}

/*==============For button pg1=========================*/

.btn-page1 {
  display: block;
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 12px;
}

a {
	text-decoration: none;
  color: white;
}

.btn-page1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-page1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-page1:hover span {
  padding-right: 25px;
}

.btn-page1:hover span:after {
  opacity: 1;
  right: 0;
}
/*=====Button End ==================================*/

/*=========== Media Queries ===============*/

@media only screen and (max-width: 400px, max-width: 240px) {
	.d-block {
		max-width: 250px;
		max-height: 200px;
	}

	 img {
    	max-width: 250px;
    	max-height: 200px;
    }

  h1 {
        font-size: 25px;
      }

  iframe {
        width: 300px;
        height: 215px;
      }

  .ul-nav {
        font-size: 1.0em;
        padding: 0;
      }

  li {
      padding-top: 10px;
    }


}

@media only screen and (min-width: 768px) {
	.d-block {
		min-width: 400px;
		min-height: 300px;
	}

}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 25px;
      }

    iframe {
        width: 300px;
        height: 215px;
      }

    .ul-nav {
            font-size: 1.0em;
            padding: 0;
          }

    li {
        padding-top: 10px;
      }
      

    img {
    	max-width: 300px;
    	max-height: 250px;
    }

    .page-land {
    	font-size: 30px;
    	margin-top: 30px;
    }

    #pre-heading {
	font-size: 30px;
	}

    [img] .pg {
    	margin-bottom: 20px; 
    }

}


    
/*=========media query ends============================*/

#foot {
    text-align: center;
    margin-top: 70px;
}
/*=========end media query style===============*/


/*===========Paragraph page2=========================*/
#pre-heading {
	display: block;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	color: red;
	
}


/*=====page 2 top image===============*/
.page2-head {
	margin-top: 55px;
	font-size: 55px;
	font-family: 'Snowburst One', cursive;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #4169E1;
}

/*===========container & image style pg2======*/
.container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

img {
	border-radius: 10px;
	width: 400px;
  height: 300px;
  object-fit: cover;
  object-fit: contain;
  object-fit: fill;
  
 /* margin-right: auto;
  margin-left: auto;*/
}

/*=========container 3 & style pg3=============*/
.container3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 25px;
      height: 300px;
    }

/* ======= for video ======== */
#container {
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 50px;
      background-color: #f0f0f0;
      height: 100%;
      border-radius: 12px;
    }


.vid-h1 {
      padding: auto;
      font-size: 50px;
      font-family: 'Snowburst One', cursive;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px #4169E1;
      border: none;
      height: 85px;
    }

#vid-p {
      text-align: center;
      font-size: 40px;
      font-family: 'Dancing Script', cursive;
      color: red;
      padding: auto;
      
    }

/*=========circular div style pg2==========*/

.cover {
    margin: 10px;
}

/*===========carousel style pg1================*/
#carouselExampleFade {
	margin-top: 100px;
}

.d-block {
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
  object-fit: contain;
  object-fit: fill;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
}

/*========container and div style pg1=======*/
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

 .pg {
	width: 280px;
	height: 200px;
	margin: 15px;
}


/*=========circular div style gallery==========*/
#gala-dot1 {
  background-image: url("../css/public/pw1.jpg");
  background-size: fill;
    background-position: center center;
  background-clip: content-box;
  background-repeat: no repeat;
  background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    border: 10px solid silver;
    margin-left: 20px;
}

#gala-dot {
  background-image: url("../css/public/jw4.jpg");
  background-size: fill;
  background-position: center center;
  background-clip: content-box;
  background-repeat: no repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  border: 10px solid #4169E1;
  margin-right: 20px;
}

.cover {
    margin: 10px;
}


/*========Footer pg 1 & 2=============*/

.foot {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	color: white;
	height: 40px;
}

/* ===== gallery ====== */

#gala-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

/* ====button div ====== */
.gala-select {
  display: flex;
  justify-content: space-around;
  align-items: ;
}

/* ======= gallery button ============ */
.butt1 {
  display: inline-block;
  background-color: royalblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 12px;
  position: relative;

}

.butt1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt1:hover span {
  padding-right: 25px;
}

.butt1:hover span:after {
  opacity: 1;
  right: 0;
}

.bck {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

